body {
    font-family: "Arial Black";
}

img {
    width: 100%;
    margin: 0%;
}

.inner {
    width: 100%;
    float: bottom;
}

.txtcenter {
    position: center;
    text-align: center;
}

h2 {
    display: none;
}

h2.telephone {
    display: block;
}

@media (min-width: 768px) {
    h2.telephone {
        display: none;
    }

    h2.tablette {
        display: block;
    }

    .inner {
        text-align: center;
        width: 100%;
    }

    .img {
        width: 46%;
        display: inline-block;
        margin: 1%;
    }

    #mer, #lac {
        margin-top: 20px;
    }

}

@media (min-width: 971px) {
    h2.tablette {
        display: none;
    }

    h2.desktop {
        display: block;
    }

    .merge {
        margin: 10%;
        margin-top: 0%;
    }

    .img {
        width: 47%;
        display: inline-block;
    }

}

@media (min-width: 1369px) {
    h2.desktop {
        display: none;
    }

    h2.desktopG {
        display: block;
    }

    .img {
        width: 22%;
        display: inline-block;
        margin: 0.3%;
    }

}